/* Game.css */
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@600&display=swap");

.game-page {
  background: rgb(91, 59, 148);
  background: linear-gradient(
    39deg,
    rgba(91, 59, 148, 1) 0%,
    rgba(59, 86, 148, 1) 50%,
    rgba(50, 4, 123, 1) 100%
  );
  padding: 20px;
  height: 100vh;
  font-family: "Alexandria", sans-serif;
}

.game-title {
  display: flex;
  color: white;
  margin-bottom: 20px;
  justify-content: center;
}

.game-title img {
  display: flex;
  color: white;
  margin-bottom: 20px;
  justify-content: center;
  width: 20%;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.category-box {
  flex: 1;
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.questions-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.question-box {
  flex: 1;
  background-color: rgb(40, 183, 150);
  color: white;
  border-radius: 8px;
  padding: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.question-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 300ms ease-in;
  font-size: 3rem;
}

.question-modal.fade-enter-active {
  opacity: 1;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  height: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 300ms ease-in;
  font-size: 5rem;
}

.question-modal.fade-enter-active .modal-content {
  opacity: 1;
}

.show-answer-button {
  margin-top: 10px;
}

.close-button {
  margin-top: 10px;
}
/* CSS for disabled question boxes */
.question-box.question-box-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Additional CSS for fade animation */
.question-modal.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.modal-content.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.question-box.clicked {
  opacity: 0;
  cursor: default;
}
